# Pandas

In [1]:
import pandas as pd

In [2]:
s1=pd.Series([11,22,33])
s2=pd.Series(['x','y','z'])
df=pd.DataFrame({"col1": s1, "col2": s2})
df

   col1 col2
0    11    x
1    22    y
2    33    z

In [3]:
s3=pd.Series([1.234,5.789,7.123])
df['col3']=s3
df

   col1 col2   col3
0    11    x  1.234
1    22    y  5.789
2    33    z  7.123

In [4]:
df.loc[1:2]

   col1 col2   col3
1    22    y  5.789
2    33    z  7.123

In [5]:
df['col3']

0    1.234
1    5.789
2    7.123
Name: col3, dtype: float64

In [6]:
df['col3'].mean()

np.float64(4.715333333333334)

# Shapely (geometry types and manipulation)

In [7]:
from shapely.geometry import Point, Polygon
from shapely.wkt import dumps, loads

In [8]:
point = Point(-73.943849, 40.6698) 
point

In [9]:
polygon = Polygon([(20,0),(-20,-10),(-20,50),(20,70),(30,40),(20,0)])
polygon

In [10]:
utah = loads('POLYGON ((-114.052025 37.103989, -114.049797 37.000423, -113.484375 37.0, -112.898598 37.000401, -112.539604 37.000683, -112.0 37.000977, -111.412048 37.001514, -111.133018 37.00079, -110.75 37.003201, -110.5 37.004265, -110.469505 36.998001, -110.0 36.997967, -109.044571 36.999088, -109.045143 37.375, -109.042824 37.484692, -109.040848 37.881176, -109.041405 38.153027, -109.041107 38.1647, -109.059402 38.275501, -109.059296 38.5, -109.058868 38.719906, -109.051765 39.0, -109.050095 39.366699, -109.050697 39.4977, -109.050499 39.6605, -109.050156 40.222694, -109.047577 40.653641, -109.0494 41.000702, -109.2313 41.002102, -109.534233 40.998184, -110.0 40.997398, -110.047768 40.997696, -110.5 40.994801, -111.045982 40.998013, -111.045815 41.251774, -111.045097 41.579899, -111.045944 42.001633, -111.506493 41.999588, -112.108742 41.997677, -112.16317 41.996784, -112.172562 41.996643, -112.192184 42.001244, -113.0 41.998314, -113.875 41.988091, -114.040871 41.993805, -114.038803 41.884899, -114.041306 41.0, -114.04586 40.116997, -114.046295 39.906101, -114.046898 39.542801, -114.049026 38.67741, -114.049339 38.572968, -114.049095 38.14864, -114.0476 37.80946, -114.05098 37.746284, -114.051666 37.604805, -114.052025 37.103989))')
utah

In [11]:
dumps(utah.centroid)

'POINT (-111.6774042318347284 39.3236142276755416)'

In [12]:
point = loads('POINT (-73.943849 40.6698)')
point